* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.contactSection {
        background-color: rgb(87, 70, 105);
        padding: 20px;
}



.contactContainer{
        margin: 0 200px;
}


.contactDetails {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
}

.singleContact {
        border: 1px solid gray;
        align-items: center;
        text-align: center;
        padding: 25px 40px;
        color: gray;
        display: flex;
        flex-direction: column;
        gap: 20px;
}

.singleContact i {
        font-size: 25px;
        color: #C4B16F;
}

.singleContact h1 {
        font-size: 16px;
        font-weight: normal;
        color: white;
}

.singleContact .icons {
        display: flex;
        justify-content: center;
        gap: 30px;
}

.singleContact .icons a i {
        border: 1px solid gray;
        color: white;
        padding: 5px;
        font-size: 12px;
}

.contactSection form {
        margin: 50px 0;
}

.contactSection form h3{
        letter-spacing: 2px;
        font-size: 20px;
        text-transform: uppercase;
        color: white;
        margin-bottom: 10px;
}

.nameEmail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
}

.nameEmail input{
        width: calc(50% - 10px);
        min-width: 200px;
        height: 40px;
        padding: 3px 10px;
        background-color: rgb(71, 56, 86);     
}





.message {
        display: flex;
        justify-content: center;
        margin-top: 30px;
}

.message textarea {
        width: 100%;
        max-width: 900px;
        height: 80px;
        padding: 3px 10px;
        background-color: rgb(71, 56, 86);   
}

.messageBtn {
        display: flex;
        justify-content: center;
        margin: 30px auto;
}

.messageBtn button {
        padding: 5px 10px;
        font-size: 18px;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
        color: white;
        background: transparent;
        border: 2px solid gray;
        position: relative;
        cursor: pointer;
        background-color: black;
}



.messageBtn button:hover {
        color: #C4B16F;
}

.map {
        margin-top: 50px;
        width: 100%;
        overflow: hidden;
        position: relative;
        padding-top: 56.25%;
}

.map iframe {
        position: absolute;
        top: 0;
        left: 0;
        border: 0;
}


footer {
        padding: 10px 0;
        background-color: #97A8B3;
}

footer h1 {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
}

hr{
        margin: auto 200px;  
}



@media only screen and (max-width: 1099px) {
        .contactContainer{
                margin: 0 50px;
        
        }

        .singleContact {
                width: 100%;
                padding: 15px;
        }
}

@media only screen and (max-width: 680px) {
        .contactContainer{
                margin: 0 20px;
        
        }

        .nameEmail input {
                width: 100%;
        }
}