/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

.projectSection {
  padding: 20px 0;
  background-color: rgba(87, 70, 102, 0.948);
}
.projectContainer {
  margin: 0 200px;
}
.singleProject {
  padding: 20px;
  border: 1px solid #808080a1;
  margin: 10px 0 30px 0;
  border-radius: 30px;
  background-color: rgba(87, 70, 102, 0.171);
}

.textDetails {
  padding: 20px 0 30px 0;
}

.textDetails h3 {
  color: #c4b16f;
  font-weight: 600;
}

.textDetails p {
  color: white;
  margin: 10px 0;
  font-size: 17px;
}

.projectLink {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.projectLink .github, .live {
  text-decoration: none;
  border: 1px solid gray;
  padding: 5px 15px;
  color: #8a9fad;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
  margin-top: 10px;
  border: 2px solid gray;
  font-weight: bold;
}

.projectLink .github:hover, .live:hover {
  color: #c4b16f;
  cursor: pointer;
  transform: translateY(10px);
}

.projectLink .github:hover{
  transform: translateY(-10px);
}


@media only screen and (max-width: 780px) {
  .projectContainer {
    margin: 0 10px;
  }

  .projectLink {
    gap: 5px;
  }

  .projectLink .github {
    font-size: 10px;
    padding: 5px 10px;
  }

  .textDetails p {
    font-size: 15px;
  }

  .projectLink .live {
    font-size: 10px;
    padding: 5px 10px;
  }
}

@media only screen and (min-width: 755px) and (max-width: 1099px) {
  .projectContainer {
    margin: 0 100px;
  }

  .projectLink {
    gap: 30px;
  }
}
