@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav,
.navLinks {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background: #094062;
  background: linear-gradient(
    90deg,
    hsla(203, 83%, 21%, 1) 0%,
    hsla(272, 21%, 24%, 1) 0%,
    hsla(272, 21%, 24%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(203, 83%, 21%, 1) 0%,
    hsla(272, 21%, 24%, 1) 0%,
    hsla(272, 21%, 24%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(203, 83%, 21%, 1) 0%,
    hsla(272, 21%, 24%, 1) 0%,
    hsla(272, 21%, 24%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#094062", endColorstr="#3F314B", GradientType=1);
}

.navLinks {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.navLinks li {
  list-style: none;
}

.navLinks li a {
  color: #97a8b3;
  text-decoration: none;
  font-size: 1.2rem;
}

.navLinks li a:hover {
  border-top: 2px solid #161515;
  border-bottom: 2px solid #161515;
  border-radius: 2px;
  color: #c4b16f;
}

.navTitle {
  display: flex;
  align-items: center;
  padding: 10px;
}

.navTitle img {
  max-width: 100%;
  height: auto;
  max-height: 50px;
  transition: all 0.3s ease-in-out;
}

.navTitle img:hover {
  background-color: #c4b16f;
}

#resNav {
  display: none;
}

.resMenu {
  position: relative;
  display: inline-block;
}

.resIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.resIcon span {
  width: 100%;
  height: 2px;
  background-color: #97a8b3;
  transition: all 0.3 ease-in-out;
}

.menuLinks {
  position: absolute;
  top: 100%;
  right: 0;
  width: 150px;
  height: 225px;
  max-height: 0;
  overflow: hidden;
  background: hsla(203, 83%, 21%, 1);

  background: linear-gradient(
    90deg,
    hsla(203, 83%, 21%, 1) 0%,
    hsla(272, 21%, 24%, 1) 0%,
    hsla(272, 21%, 24%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(203, 83%, 21%, 1) 0%,
    hsla(272, 21%, 24%, 1) 0%,
    hsla(272, 21%, 24%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(203, 83%, 21%, 1) 0%,
    hsla(272, 21%, 24%, 1) 0%,
    hsla(272, 21%, 24%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#094062", endColorstr="#3F314B", GradientType=1);
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.menuLinks:hover {
  transform: translateX(10px);
}

.menuLinks a {
  display: block;
  padding: 5px;
  text-align: center;
  font-size: 1.2rem;
  color: #97a8b3;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 5px;
}

.menuLinks a:hover {
  border-top: 2px solid #161515;
  border-bottom: 2px solid #161515;
  border-radius: 2px;
  color: #c4b16f;
}

.menuLinks li {
  list-style: none;
}

.menuLinks.open {
  max-height: 300px;
}

.resIcon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.resIcon.open span:nth-child(2) {
  opacity: 0;
}

.resIcon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.resIcon span:first-child {
  transform: none;
}

.resIcon span:first-child {
  opacity: 1;
}

.resIcon span:first-child {
  transform: none;
}

.sectionTitleOne,
.sectionTitleTwo {
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

/* This is for nav image */
@media only screen and (max-width: 680px) {
  .navTitle img {
    max-height: 40px;
  }
}

@media only screen and (min-width: 681px) and (max-width: 1099px) {
  .navTitle img {
    max-height: 45px;
  }
}
